body {
  font-family: Arial;
  background: #f2f2f2;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.form {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: blue;
  color: white;
  border: none;
}

p {
  color: red;
  font-size: 12px;
}